@import url("./colors.css");
@import url("./fonts.css");

body {
  margin: 0;
  color: #1a1c23;
  background-color: var(--light-bg);
  font-family: "Josefin Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

input {
  font-family: "Josefin Sans", Inter, Avenir, Helvetica, Arial, sans-serif;
}
